.footer_container {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFF;
    border-radius: 30px 30px 0 0;
    padding: 76px 125px 32px 125px;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
}

.footer__flex-2 {
    display: flex;
    justify-content: space-between;
}

.footer__contacts__flex {
    display: flex;
    column-gap: 24px;
}   

.footer_text {
    font-family: Manrope;
    color: #000 ;
    font-size: 22px;
    letter-spacing: -0.66px;
}

.footer_text-2 {
    font-family: Manrope;
    color: #000;
    font-size: 20px;
    letter-spacing: -0.6px;
    opacity: 0.5;
}

@media (max-width: 1400px) {

    footer {
        padding: 0 15px 0 15px;
    }
    
    .footer_container {
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding:51px 40px 21px 40px;
    }

    .footer__flex {
        margin-bottom: 43px;
    }

    .footer__contacts__flex {
        column-gap: 14px;
    }  

    .footer_text {
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .footer_text-2 {
        font-size: 14px;
        letter-spacing: -0.42px;
        margin-right: 5px;
    }
}

@media (max-width: 767px) {

    footer {
        padding: 0 12px 0 12px;
    }

    .footer_container {
        border-radius: 20px 20px 0 0;
        padding:47px 0px 34px 12px;
    }

    .footer__flex {
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 40px;
    }

    .footer__flex-2 {
        flex-direction: column;
        row-gap: 12px;
    }

    .footer__contacts__flex {
        column-gap: 12px;
    }
    
    .footer__text__width {
        width: 205px;
    }
}