header {
    padding-top: 34px;
    margin-bottom: 259px;
}

.header__flex {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.header__nav__flex {
    display: flex;
    column-gap: 51px;
}

.logo {
    position: relative;
    width: 130px;
    height: 39px;
    background-color: #000000;
    border-radius: 100px;
}

.logo__text {
    position: absolute;
    left: 9px;
    top: -10px;
    color: #1BFF07;
    font-size: 43px;
    font-weight: 700;
    letter-spacing: -4.7px;
}

.header__link {
    color: #FFF;
    font-size: 18px;
    letter-spacing: -0.54px;
}

.header__link:hover {
    color: #1BFF07;
}

.burger {
    display: none;
}

.burger-btn {
    display: none;
}

@media (max-width: 1199px) {

    header {
        padding: 21px 3px 0 13px;
        height: 63px;
        margin-bottom: 303px; 
    }

    .header__nav__flex {
        display: none;
    }

    .burger-btn {
        display: block;
        background-image: url(../resources/icon-burger.png);
        width: 63px;
        height: 63px;
        background-color: rgba(0, 0, 0, 0);
    }

    .burger-btn_open {
        position: absolute;
        top: -11px;
        right: 17px;
        background-image: url(../resources/close-btn.png);
        width: 34px;
        height: 34px;
        z-index: 20;
    }   

    .logo  {
        margin-top: 10px;
    }

    .burger {
        display: flex;
        justify-content: end;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: transform 0.4s ease;
        z-index: 10;
    }

    .burger_open {
        opacity: 1;
        visibility: visible;
        transform: translateX(-100%);
    }

    .burger__content {
        width: 362px;
        height: 100%;
        max-height: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;  
        scrollbar-width: none;  
        background-color: #000000;
    }

    .logo__border {
        border: 1px solid #1BFF07 ;
        margin: 64px 0 44px 28px;
    }

    .header__nav__flex__burger {
        display: flex;
        flex-direction: column;
        padding-left: 37px;
        row-gap: 21px;
        margin-bottom: 91px;
    }
    
    .header__link__burger {
        color: #FFF;
        font-size: 25px;
        letter-spacing: -0.75px;
        text-transform: uppercase;
    }

    .header__contacts__flex {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        padding-left: 40px;
    }

    .header__contacts {
        color: #FFF;
        font-size: 16px;
        letter-spacing: -0.48px;
        opacity: 0.5;
        margin-bottom: 12px;
        padding-left: 40px;
    }

    .header__contacts__link {
        color: #FFF;
        font-size: 20px;
        letter-spacing: -0.6px;
    }
}

    @media (max-width: 767px) {

    header {
        margin-bottom: 276px;
    }
}