.project__container {
    position: relative;
    padding: 150px 0 150px 0;
}

.project__title {
    position: absolute;
    left: -5px;
}

.project__container__inner {
    margin-top: 112px;
    margin-bottom: 80px;
}

.project__container__img {
    position: relative;
    height: 550px;
}

.project__text__block {
    position: absolute;
    bottom: 453px;
    left: 50px;
    padding: 0 20px 0 20px;
    border-radius: 100px;
    background-color: #1BFF07;
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    line-height: 47px;
    letter-spacing: -0.6px;
    text-align: center;
}

.project__name {
    position: absolute;
    bottom: 94px;
    left: 50px;
    color: #FFF;
    font-size: 35px;
    letter-spacing: -1.05px;
}

.project__info {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #FFF;
    font-size: 30px;
    letter-spacing: -0.9px;
}

.watchproject__button {
    display: block;
    width: 582px;
    background-color: #1BFF07;
    border-radius: 10px;
    color: #000;
    font-size: 30px;
    line-height: 153px;
    letter-spacing: -0.9px;
    text-align: center;
}

.watchproject__button:hover {
   color: #1BFF07;
   border: 2px solid #1BFF07;
   background-color: #000000; 
}

@media (max-width: 1199px) {
    
    .project__container {
        padding: 150px 15px 150px 15px;
    }

    .project__container__inner {
        margin-top: 114px;
        margin-bottom: 64px;
    }

    .project__container__img {
        height: 445px;
    }

    .project__title {
        left: 10px;
    }

    .project__img {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        object-fit: cover;
        object-position: center;
    }

    .project__text__block {
        bottom: 367px;
        left: 40px;
        padding: 0 16px 0 16px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 38px;
        letter-spacing: -0.48px;
    }

    .project__name {
        bottom: 76px;
        left: 40px;
        font-size: 28px;
        letter-spacing: -0.84px;
    }

    .project__info {
        bottom: 40px;
        left: 40px;
        font-size: 24px;
        letter-spacing: -0.72px;
    }

    .watchproject__button {
        width: 460px;
        border-radius: 8px;
        font-size: 24px;
        line-height: 124px;
        letter-spacing: -0.728px;
    }

    .watchproject__button:hover {
        color: #000000;
        border: none;
        background-color: #1BFF07; 
    }
}

@media (max-width: 767px) {

    .project__container {
        padding: 100px 12px 100px 13px;
    }

    .project__container__inner {
        margin-top: 112px;
        margin-bottom: 70px;
    }

    .project__img-1 {
        object-position: 10%;
    }

    .project__text__block {
        bottom: 380px;
        left: 30px;
        padding: 0 13px 0 13px;
        border-radius: 64px;
        font-size: 13px;
        line-height: 30px;
        letter-spacing: -0.39px;
    }

    .project__name {
        left: 22px;
    }

    .project__info {
        bottom: 50px;
        left: 22px;
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .watchproject__button {
        width: 100%;
        border-radius: 8px;
        font-size: 18px;
        line-height: 80px;
        letter-spacing: -0.54px;
    }
}
