@import "../styles/header.css";
@import "../styles/about.css";
@import "../styles/project.css";
@import "../styles/skills.css";
@import "../styles/skills-2.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.body_fixed {
    overflow: hidden;
}

header, .project__container, .skills_container {
    margin: 0 auto;
    width: 1150px;
}

footer, .project, .skills, .skills__2, .contacts {
    background-color: #000;
} 

p, a {
    line-height: normal;
    text-decoration: none;
}

h1 {
    width: 919px;
    color: #1BFF07;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -2.4px;
}

h2 {
    color: #FFF;
    font-size: 55px;
    line-height: normal;
    letter-spacing: -1.65px;
}

h3 {
    color: #1BFF07;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: -1.65px;
}

button {
    border: 0;
    padding: 0;
}

.skills__text {
    color: #FFF;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}

.project__name, .skills__title-2 {
    color: #FFF;
    font-size: 35px;
    letter-spacing: -1.05px;
}

@media (max-width: 1199px) {

    header, .about__container, .project__container, .skills_container  {
        width: 100%;
    }

    h1 {
        width: 727px;
        font-size: 60px;
        letter-spacing: -1.8px; 
    }

    h2, h3 {
        font-size: 45px;
        letter-spacing: -1.35px;
    }


    .skills__text {
        font-size: 18px;
        letter-spacing: -0.54px;
    }

    .project__name, .skills__title-2 {
        font-size: 28px;
        letter-spacing: -0.84px;
    }
}

@media (max-width: 767px) {

    h1 {
        width: 353px;
        font-size: 40px;
        line-height: 47px; 
        letter-spacing: -1.2px;
    }

    h2 {
        font-size: 30px;
        letter-spacing: -0.9px;
    }

    h3 {
        font-size: 35px;
        letter-spacing: -1.05px;
    }
}

