html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.body_fixed {
    overflow: hidden;
}

header, .project__container, .skills_container {
    margin: 0 auto;
    width: 1150px;
}

footer, .project, .skills {
    background-color: #000;
}

p, a {
    line-height: normal;
    text-decoration: none;
}

h1 {
    width: 919px;
    color: #1BFF07;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -2.4px;
}

h2 {
    color: #FFF;
    font-size: 55px;
    line-height: normal;
    letter-spacing: -1.65px;
}

h3 {
    color: #1BFF07;
    font-size: 55px;
    line-height: normal;
    letter-spacing: -1.65px;
    margin-bottom: 15px;
}

button {
    border: 0;
    padding: 0;
}

.skills__p, .footer_text {
    color: #FFF;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}

@media (max-width: 1199px) {

    header, .about__container, .project__container, .skills_container  {
        width: 100%;
    }

    h1 {
        width: 727px;
        font-size: 60px;
        letter-spacing: -1.8px; 
    }

    h2 {
        font-size: 45px;
        letter-spacing: -1.35px;
    }
}

@media (max-width: 767px) {

    h1 {
        width: 100%;
        font-size: 40px;
        line-height: 47px; 
        letter-spacing: -1.2px;
    }

    h2 {
        font-size: 30px;
        letter-spacing: -0.9px;
    }
}

.skills__title-2 {
    width: 403px;
    color: #FFF;
    margin-left: 5px;
    margin-bottom: 74px;
}

.skills__image {
    margin-left: 5px;
}

.skills__block-1, .skills__block-2, .skills__block-3 {
    width: 1150px;
    margin-left: 5px;
    background-color: #191C19;
    border-radius: 30px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.skills__block-1 {
    margin-bottom: 74px;
}

.skills__block-2 {
    margin-bottom: 137px;
    padding-bottom: 69px;
}

.skills__p-2 {
    width: 749px;
}

.contacts {
    background-color: #000;
    padding-bottom: 150px;
}

.contacts__image {
    margin: 0 auto;
    width: 1400px;
    height: 717px;
    border-radius: 33px;
    background-image: url(../resources/contact.png);
    padding-top: 320px;
    padding-left: 125px;
}

.contacts__title {
    color: #FFF;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: -1.05px;
    margin-bottom: 28px;
}

.contacts__link {
    color: #FFF;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
    margin-bottom: 20px;
    text-decoration: none;
}

.contacts__link:hover {
    color: #1BFF07;
}

.footer_container {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFF;
    border-radius: 30px 30px 0 0;
    padding-left: 125px;
    padding-top: 76px;
    padding-bottom: 28px;
}

.footer_text {
    font-family: Manrope;
    color: #000;
    margin-bottom: 66px;
}

.footer_text-2 {
    font-family: Manrope;
    color: #000;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
}
